<!doctype html>
<html>
<head>
<style>
  .parent {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    height: 100px;
    background: orange;
  }
  .child {
    margin: .1em;
    background: skyblue;
  }
  form { display: inline; }
</style>
</head>
<body>
<div class="parent">
  {% for person in people %}
  <div class="child">
    <h1>{{ person.name }}</h1>
    <form action="/create/{{person.id}}">
      <input type="submit" value="ADD" />
    </form>
    <ol>
      {% for use in person.uses %}
      <li>      
        {{ use.startime }}
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endfor %}
</div>
</body>
</html>
