<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" rel="stylesheet">
<style>
  .parent {
    display: flex;
    height: 100%;
    top:0;
    left:0;
    padding:0;
  }
  input {
    margin: 0 auto;
    text-align: center;
  }
  ol {
    overflow-y: scroll;
  }
</style>
  </head>
</head>
<body>
<div class="parent">
  {% for person in people %}
  <div class="child">
    <h1>{{ person.name }}</h1>
    <form action="/create/{{person.id}}">
      <input type="submit" value="ADD" />
    </form>
    <ol>
      {% for use in person.uses %}
      <li>      
        {{ use._date }}<br>
        {{ use._time }}
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endfor %}
</div>
</body>
</html>
